#navbar {
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    font-weight: bold;
    animation: fadeIn 1s ease;
    white-space: nowrap;

    .navbar-logo {
        margin: 0 1.5rem;
        font-size: 1.2em;
        flex: 0 1 10%;
        animation: slideIn 2s ease;
    }

    .navbar-item-list {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-around;
        flex: 0 1 40%;
        animation: slideIn 2s ease;

        &:nth-child(2) {
            flex: 1;
        }
    }

    .navbar-item-link {
        text-decoration: none;
        color: inherit;
        padding: 0.8rem;
    }

    .navbar-search-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-search {
        width: 20vw;
        margin: 0 0.5em;
    }

    .menu-icon {
        display: none;
    }
}

#navbar-menu-item-list {
    display: none;
}

@media (max-width: 800px) {
    #navbar {
        /* Adjust styles for smaller screens */
        justify-content: space-between;
        padding: 0.5rem;

        .navbar-logo {
            margin: 0 1rem;
        }

        .navbar-item-list {
            display: none;

            &:nth-child(3) {
                display: flex;
            }
        }

        .navbar-item {
            .navbar-item:last-child {
                display: flex;
            }
        }

        .navbar-search {
            width: 300px;
            margin: 0 0.5em;
        }

        .menu-icon {
            display: flex;
            margin: 0 1rem;
        }
    }

    #navbar-menu-item-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 67px;

        .navbar-search-container {
            display: none;
        }

        .toggle-btn {
            display: none;
        }

        .navbar-item-link {
            text-decoration: none;
            color: inherit;
            padding: 0.8rem;
        }

        .navbar-item {
            list-style: none;
        }
    }





}

@media (max-width: 650px) {
    #navbar {
        height: 67px;

        .navbar-item-list {
            &:nth-child(3) {
                display: none;
            }
        }
    }

    #navbar-menu-item-list {
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        height: auto;
        gap: 1rem;


        .navbar-menu-group {
            display: flex !important;

            .navbar-search {
                border-radius: 0.2rem !important;
            }
        }

        .navbar-search-container {
            display: flex;

        }

        .toggle-btn {
            display: flex;
        }
    }
}


/* Animations  */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-30px);
    }

    to {
        transform: translateX(0);
    }
}